.stats-container {
  min-height: 100vh;
}
.stats-stats {
  width: 100%;
  height: 1627px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(11, 12, 42, 1);
}
.stats-rectangle9 {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 131px;
  position: absolute;
  border-color: transparent;
}
.stats-group5 {
  top: 31px;
  left: 1736px;
  width: 114px;
  height: 69.09091186523438px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-profile2 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
  border-color: transparent;
  border-radius: 42px;
}
.stats-frameiconchevronbottom {
  top: 27.349458694458008px;
  left: 81.75757598876953px;
  width: 32.24242401123047px;
  height: 22.058204650878906px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-vector {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 22px;
  position: absolute;
}
.stats-search-bar {
  top: 40px;
  left: 582px;
  width: 822.0714111328125px;
  height: 51px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(11, 12, 42, 1);
}
.stats-frameiconmagnifyingglass {
  top: 8.262691497802734px;
  left: 764.1401977539062px;
  width: 37.24148941040039px;
  height: 32.62529754638672px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-vector1 {
  top: 0px;
  left: 0px;
  width: 37px;
  height: 33px;
  position: absolute;
}
.stats-text {
  top: 12.142857551574707px;
  left: 31.724252700805664px;
  color: rgba(156, 156, 156, 1);
  width: 394px;
  height: auto;
  position: absolute;
  font-size: 17px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text02 {
  top: 15px;
  left: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 70px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Kaushan Script;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.stats-group9 {
  top: 232px;
  left: 347px;
  width: 0px;
  height: 0px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-group23 {
  top: 176px;
  left: 204px;
  width: 1511px;
  height: 417px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(7, 7, 32, 1);
}
.stats-profile21 {
  top: 67px;
  left: 162px;
  width: 159px;
  height: 159px;
  position: absolute;
  border-color: transparent;
  border-radius: 42px;
}
.stats-group25 {
  top: 237px;
  left: 74px;
  width: 336px;
  height: 114px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text04 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text06 {
  top: 53px;
  left: 28px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 31px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group26 {
  top: 152px;
  left: 1196px;
  width: 205px;
  height: 114px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text08 {
  left: 7px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text10 {
  top: 53px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 31px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group27 {
  top: 152px;
  left: 863px;
  width: 205px;
  height: 114px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text12 {
  left: 31px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text14 {
  top: 53px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 31px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-rectangle19 {
  top: 651px;
  left: 466px;
  width: 220px;
  height: 52px;
  position: absolute;
  border-color: transparent;
}
.stats-group28 {
  top: 677px;
  left: 1165px;
  width: 550px;
  height: 651px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(7, 7, 32, 1);
}
.stats-group271 {
  top: 180px;
  left: 83px;
  width: 276px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text16 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text18 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group281 {
  top: 289px;
  left: 83px;
  width: 227px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text20 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text22 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group29 {
  top: 398px;
  left: 83px;
  width: 389px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text26 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text28 {
  top: 56px;
  left: 83px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group30 {
  top: 1379px;
  left: 1165px;
  width: 550px;
  height: 651px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(7, 7, 32, 1);
}
.stats-group272 {
  top: 180px;
  left: 83px;
  width: 389px;
  height: 113px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text30 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text32 {
  top: 41px;
  color: rgba(193, 193, 193, 1);
  width: 389px;
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-rectangle18 {
  top: 73px;
  left: 0px;
  width: 6px;
  height: 112px;
  position: absolute;
  border-color: transparent;
}
.stats-group282 {
  top: 289px;
  left: 83px;
  width: 227px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text37 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text39 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-rectangle181 {
  top: 73px;
  left: 0px;
  width: 6px;
  height: 112px;
  position: absolute;
  border-color: transparent;
}
.stats-group291 {
  top: 398px;
  left: 83px;
  width: 389px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text41 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text43 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-rectangle182 {
  top: 73px;
  left: 0px;
  width: 6px;
  height: 112px;
  position: absolute;
  border-color: transparent;
}
.stats-rectangle183 {
  top: 124px;
  left: 189px;
  width: 6px;
  height: 172px;
  position: absolute;
  border-color: transparent;
}
.stats-text45 {
  top: 57px;
  left: 107px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group292 {
  top: 678px;
  left: 204px;
  width: 899px;
  height: 922px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(7, 7, 32, 1);
}
.stats-group31 {
  top: 241px;
  left: 72px;
  width: 360px;
  height: 544.07763671875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-group7 {
  top: 492.8155212402344px;
  left: 120px;
  width: 120px;
  height: 51.26213455200195px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(225, 53, 54, 1);
}
.stats-text47 {
  top: 10.48550796508789px;
  left: 9.320388793945312px;
  color: rgba(255, 255, 255, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 19px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-trend91 {
  top: 0px;
  left: 0px;
  width: 360px;
  height: 471px;
  position: absolute;
  border-color: transparent;
  border-radius: 31px;
}
.stats-group273 {
  top: 198px;
  left: 486px;
  width: 216px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text49 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text51 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group283 {
  top: 307px;
  left: 486px;
  width: 130px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text53 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text55 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group293 {
  top: 416px;
  left: 486px;
  width: 292px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text57 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text59 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group301 {
  top: 525px;
  left: 486px;
  width: 211px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text61 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text63 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group33 {
  top: 634px;
  left: 486px;
  width: 114px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text65 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text67 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group34 {
  top: 743px;
  left: 486px;
  width: 112px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text69 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text71 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group35 {
  top: 744px;
  left: 646px;
  width: 114px;
  height: 73px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text73 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 27px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-text75 {
  top: 38px;
  color: rgba(193, 193, 193, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.stats-group32 {
  top: 61px;
  left: 318px;
  width: 264px;
  height: 69px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.stats-text77 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: JetBrains Mono;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
